# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
.steam_entorno/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Data & artifacts
/data/raw/
/data/processed/
/models/
/reports/figures/
